.cards-container {
    height: 30rem;
    width: 100%;
    margin-top: 0rem;
}

.cards-wrapper {
    display: block;
    align-items: center;
}

.cards-list {
    display: flex;
    justify-content: space-between;
}

.card1, .card2, .card3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    height: 20rem;
    padding: 20px;
    width: 30%;
}


.cards-container p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-self: center;
}

.cards-container h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cards-container p ,h1 {
    display: flex;
    justify-content: center;
    color: white;
}



