* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    position: relative;
}

.nav-container {
    display: flex;
    position: sticky;
    height: 4rem;
    width: 100%;
    background-color: black;
}

.nav-logo {
    color: white;
    margin-left: 30px;
    align-self: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
}

.nav-links {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
}

.nav-links-wrapper {
    display: flex;
    align-self: center;
    gap: 20px;
}

.nav-link-btn {
    list-style: none;
    text-decoration: none;
}

.nav-btn {
    color: white;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: color 1s;
}

.nav-btn:hover {
    color: rgb(13, 176, 176);
}


@media screen and (max-width: 960px) {
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-top: 1pxsolid #fff;
      position: absolute;
      top: 64px;
      left: -110%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: rgb(37, 37, 37);
      left: 0px;
      overflow-x: hidden !important;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
    .nav-item .Active {
      color: rgb(95, 95, 211);
      border: none;
    }
    .nav-links {
      padding: 1.5rem;
      width: 100%;
      display: table;
    }
  
    .nav-icon {
      display: flex;
      position: absolute;
      width: fit-content;
      top: 0.5rem;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
      color: white;
    }
        .nav-link-wrapper {
          display: flex;
        }
      }