* {
  margin: 0;
  padding: 0;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  position: fixed;
  background-color: rgb(18, 17, 17);
  height: 5rem;
  width: 100%;
  z-index: 1;
  top: 0;
}


.nav-logo {
  display: flex;
  position: relative;
  align-self: center;
}

.nav-logo h1{
  color: white;
  margin-left: 2rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.nav-icon {
  display: none;
}

.nav-menu {
display: flex;
list-style: none;
text-align: center;
margin-right: 2rem;
}


.nav-links {
color: #fff;
text-decoration: none;
padding: 0.5rem 1rem;
height: 100%;
border-bottom: 3px solid transparent;
font-family: sans-serif;
}

.nav-item {
line-height: 40px;
margin-right: 1rem;
}

.nav-item:after {
content: "";
display: block;
height: 3px;
width: 0;
background: transparent;
transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
width: 100%;
background: white;
}

.nav-item .Active {
color: white;
border: 1px solid white;
}

.nav-link-wrapper {
  display: flex;
  justify-content: right;
  align-self: center;
}



@media screen and (max-width: 960px) {

  .nav-container {
    justify-content: space-between;
  }

.nav-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 1pxsolid #fff;
  position: absolute;
  top: 80px;
  left: -110%;
  opacity: 1;
  transition: all 0.5s ease;
}

.nav-menu.active {
  background-color: rgb(18, 17, 17);
  left: 0px;
  overflow-x: hidden !important;
  transition: all 0.5s ease;
}
.nav-item .Active {
  color: rgb(95, 95, 211);
}
.nav-links {
  padding: 1.5rem;
  width: 100%;
  display: table;
}

.nav-icon {
  display: flex;
  position: absolute;
  width: fit-content;
  top: 0.5rem;
  right: 0;
  transform: translate(-100%, 60%);
  font-size: 1.8rem;
  cursor: pointer;
  color: white;
}
  }


