.home{
    display: flex;
    justify-content: center;
    position: relative;
}

.home-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30rem;
    background-image: url(../../Imgs/wp4462550.png);
  }
  

.home-wrapper {
    display: flex;
    position: static;
}

.home-text{
    display: flex;
    justify-content: center;
    position: relative;
}

.htext-wrapper {
    display: block;
}

.htext-wrapper h1 {
    color: white;
    font-size: 10rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.htext-wrapper h2 {
    color: rgb(208, 201, 201);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

